/* list, media, menu, message, modal, navbar, pagination, panel, tab, breadcrumb, card, dropdown, level */
.card
{
    margin-top: 1em;

    &--customerarea, &--image
    {
        height: 120px;
        @include lg
        {
            height: 100px;
        }
        @include xl
        {
            height: 140px;
        }
    }
}

.box
{
    padding: 2em;
    &__el
    {
        margin-top: 1em;
    }
}

.level
{
    &--galleryclient
    {
        & .level-item:first-child
        {
            position: absolute;
            left: 20px;
            @include lg
            {
                position: inherit;
            }
        }
    }
}

//Lightbox
//LIGHTBOX FADING SHOW/HIDE EFFECT (as explained in documentation)
.lcl_fade_oc.lcl_pre_show #lcl_overlay,
.lcl_fade_oc.lcl_pre_show #lcl_window,
.lcl_fade_oc.lcl_is_closing #lcl_overlay,
.lcl_fade_oc.lcl_is_closing #lcl_window {
    opacity: 0 !important;
}
.lcl_fade_oc.lcl_is_closing #lcl_overlay {
    -webkit-transition-delay: .15s !important;
    transition-delay: .15s !important;
}

#lcl_overlay
{
    opacity: 0.9 !important;
}
